/*
 * Copyright © 2020 Dennis Schulmeister-Zimolong
 * 
 * E-Mail: dhbw@windows3.de
 * Webseite: https://www.wpvs.de/
 * 
 * Dieser Quellcode ist lizenziert unter einer
 * Creative Commons Namensnennung 4.0 International Lizenz.
 */

/* Kopfbereich */
.jumbotron {
    border-radius: 0px;
    border: 0px solid lightgrey;
    border-bottom-width: 1px;
}

.jumbotron h1 {
    color: rgb(25, 166, 37);
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
}

.logo {
    width: 7em;
    margin-right: 1em;
}

/* Hauptbereich allgemein */
body {
    
}

.page {
    margin: 1em;
}

.actions {
    margin-bottom: 1em;
}

.hidden {
    display: none;
}

/* Übersicht */
.scorecards {
    column-gap: 1em;
    row-gap: 1em;
}

.scorecards .card {
    width: 30rem;
    max-width: 100%;
}

.big-number {
    font-size: 120%;
}

.big-number .bn-value {
    font-size: 140%;
    font-weight: bold;
}

.inactive {
    color: lightgrey;
}

/* Details */
#page-scorecard .card {
    width: 40em;
    max-width: 100%;
}

#page-scorecard table {
    table-layout: fixed;
}

#page-scorecard table input {
    width: 100%;
}

#page-scorecard .card-link {
    margin-left: 0;
}